<div class="item">
  <img src="{{json.url}}" alt="{{json.alt_name}}">
  <div class="carousel-caption">
    <h3>{{json.name}}</h3>
    <p>{{json.description}}</p>
    <a href="recipe.html?recipeID={{json.recipeID}}">
       Open recipe&nbsp;<span class="glyphicon glyphicon-new-window"></span>
    </a>
  </div>
</div>
