<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="hovereffect">
      <img class="img-responsive center-block" src="{{json.url}}" alt="{{json.alt_name}}">
        <div class="overlay">
           <h3> {{json.hoverDescription}}</h3>
           <a class="info" href="#"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>{{json.cookTime}}</a>
        </div>
    </div>
    <div class="caption">
      <p style="font-size: 1pt;">&nbsp;</p>
      <h4>{{json.name}}</h4>
      <p>{{json.description}}</p>
      <p><button type="button" class="btn btn-default btn-sm" aria-label="Left Align">
        <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Save
        </button></p>
    </div>
  </div>
</div>
